.seemore{
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  border: none;
  background-color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  box-shadow: 1px 10px 18px -5px rgba(237,91,222,0.62);
}

button a{
  background-color: none;
  font-family: stolzl;
  text-decoration: none;
  color: #08639B;
  border: 0px;
  font-size: 18px;
}

button:hover{
  transform: 1.2;
  transition-timing-function: ease;
  transition-duration: 500ms;
  background-color : #ed5bde;

}

button a:hover{
  color: white;
  transition-timing-function: ease;
  transition-duration: 500ms;
}


.arrow{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  color: white;

}
