.footersite{
  box-shadow: 0px -3px 5px black;
}

.adandincon{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.followus{
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.adress{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 50px;
  font-family: stolzl;
  font-size: 20px;
  color: black;
  margin-top: 30px;
  margin-bottom: 30px;
}

#follow{
  font-size: 30px;
  font-family: stolzl;
  color: #CE95DD;
  letter-spacing: 1px;
  margin-bottom: 10px;

}

#adresstitle{
  font-size: 30px;
  font-family: stolzl;
  color: #CE95DD;
  letter-spacing: 1px;
  margin-bottom: 10px;

}

.fa-brands fa-instagram{
  font-family: stolzl;
}
